#certifications {
  padding: 20px;
  background-color: #ffa530;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10 px;
  justify-content: space-between;
  width:80%;
  margin-inline: auto;
  margin-bottom: 20px;
}
.certification-card {
  position: relative;
  margin: 20px auto;
  background-color: #18801f;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 400px;
}

.certification-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.card-content {
  padding: 20px;
}

.details {
  display: none; /* Hide details by default */
  margin-top: 10px;
  background-color: 333;
  padding: 10px;
  border-radius: 5px;
}

.certification-card:hover .details {
  display: block; /* Show details on hover */
}
