.education-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Ensure blocks wrap on smaller screens */
    min-height: 200px;
  }

  #high-school {
    background-color: #4c69af
  }

  #bachelor-degree {
    background-color: #4c92af
  }

  h2 #education {
    display: block;
  }
  
  .education-block:hover {
    border-color: #2196F3; /* Highlight border on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  }

  #education-headings {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .education-block {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    height: 100px;
    width: 200px
  }
  
  .education-details {
    display: none; /* Initially hidden */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    margin-inline: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Set width to 80% of the page */
    max-width: 800px; /* Max width for better appearance */
    color:black;
    text-align: left;
  }
  
  