.timeline-container {
    position: relative;
    padding: 20px;
    width: 80%;
    margin: auto;
    height: auto
  }
  
  .timeline {
    position: relative;
    padding: 20px 0;
  }
  
  .timeline-item {
    position: relative;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .timeline-item:hover {
    background-color: #f0f0f0; /* Change background on hover */
    transform: translateY(-5px); /* Lift effect */
  }
  
  .timeline-item:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-color: #2196F3;
    border-radius: 50%;
    z-index: 1; /* Behind the text */
  }
  
  .timeline-content {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Above the timeline dot */
  }
  
  .date {
    display: block;
    margin-top: 5px;
    font-style: italic;
    color: #777;
  }
  
  .accordion {
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    padding: 18px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: background-color 0.4s ease;
    margin-top: 0;
    border-radius: 5px;
  }
  
  .accordion:hover, .accordion.active {
    background-color: #ddd;
    background-color: #f0f0f0; /* Change background on hover */
    transform: translateY(-5px); /* Lift effect */
  }
  
  .accordion:after {
    content: '\002B'; /* Plus sign */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active:after {
    content: "\2212"; /* Minus sign */
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0;
    width: 97.4%;
  }
  
  .panel ul {
    padding: 20px 10px;
    line-height: 1.6;
    color: black;
    text-align: left;
  }
  
  