/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 8px 16px;
    transition: background 0.3s;
  }
  
  nav a:hover {
    background-color: #555;
    border-radius: 4px;
  }
  
  section {
    height: 100vh;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  section.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #about {
    background-color: #f1f1f1;
  }
  
  #education {
    background-color: #4CAF50;
    color: white;
  }
  
  #experience {
    background-color: #ff9800;
    color: white;
  }
  
  #skills {
    background-color: #2196F3;
    color: white;
  }

  #awards {
    background-color: #ab4fcf;
    color: white;
  }

  #certifications {
    background-color: #bb33a4;
    color: white;
  }
  
  #contact {
    background-color: #673AB7;
    color: white;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  footer p {
    margin: 0;
  }
  